<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Alterar Professores</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
	<div class="container my-2">
		<h1>Sistema de Gestão de Professores</h1>
		<hr>
		<h2>Editar Professor</h2>
		<form action"#" th:action="@{/rh/professores/salvar}" th:object="${professor}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">       

			<select th:field="*{usuario}" class="form-control mb-4 col-4">
				<option th:each="usuario: ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nome}"></option>
			</select>
						
			<select th:field="*{curso}" class="form-control mb-4 col-4">
				<option th:each="curso: ${cursos}" th:value="${curso.id}" th:text="${curso.nome}"></option>
			</select>
			    	
			<button type="submit" class="btn btn-info col-2">Salvar</button>
			<a th:href="@{/rh/professores}" class="btn btn-primary">Retornar para a lista de Professores</a>
		</form>
		<hr>
	</div>
</body>
</html>